<% include partials/header.ejs%>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand">The Gift Exchange!</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/home">Home</a></li>
				<li><a href="/contact">Contact</a></li>
				<li><a href="/about">About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/logout">Logout</a></li>
			</ul>	
		</div>				
	</div>
</nav><br/><br/><br/>

<div class="container" id="wrap">

<h1>Yelp! My Favorite Cuisine!</h1>
<h2><%=  businesses[0].categories[0][0] %></h2>

<ul style="list-style-type: none;">
	<% businesses.forEach(function (store){ %>
	<% 	if (store.rating > 4){ %>
	<%  	var x = store.phone %>
	<%  	var contact = "("+x[0]+x[1]+x[2]+") "+x[3]+x[4]+x[5]+"-"+x[6]+x[7]+x[8]+x[9] %>

		<li><a href="<%= store.mobile_url%>"><%= store.name %></a></li>
		<li><img src="<%= store.rating_img_url %>"></li>
		<li><a href="tel:<%= store.phone %>"><%= contact %></a></li>
		<br/>
	<% }}) %>
</ul>

</div>
















<% include partials/footer.ejs%>
